<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77e97b">  <td>21/12/08 19:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiTest.Initalization()[pri:0, instance:com.test.MavenPgm.MultiTest@3e2e18f2]">&gt;&gt;Initalization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="a664f2">  <td>21/12/08 19:45:54</td>   <td>18829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HouseLoan.houseloanSignout()[pri:0, instance:com.test.MavenPgm.HouseLoan@470f1802]">houseloanSignout</td> 
  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="a664f2">  <td>21/12/08 19:45:54</td>   <td>18825</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HouseLoan.houseloanlogin()[pri:0, instance:com.test.MavenPgm.HouseLoan@470f1802]">&gt;&gt;houseloanlogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="8ff1a8">  <td>21/12/08 19:45:22</td>   <td>-13267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Carloan.CarLogin()[pri:0, instance:com.test.MavenPgm.Carloan@1ed1993a]">CarLogin</td> 
  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>21/12/08 19:45:52</td>   <td>16816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.SelectDropDown()[pri:1, instance:com.test.MavenPgm.MultiTest@3e2e18f2]">SelectDropDown</td> 
  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="a664f2">  <td>21/12/08 19:45:54</td>   <td>18825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HouseLoan.houseloanAmount()[pri:0, instance:com.test.MavenPgm.HouseLoan@470f1802]">houseloanAmount</td> 
  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/12/08 19:45:12</td>   <td>-23417</td> <td title="&gt;&gt;Registration.invokeBrowser()[pri:0, instance:com.test.MavenPgm.Registration@6e4784bc]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>21/12/08 19:45:53</td>   <td>17607</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiTest.CleanUp()[pri:0, instance:com.test.MavenPgm.MultiTest@3e2e18f2]">&lt;&lt;CleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/12/08 19:46:02</td>   <td>26522</td> <td title="&lt;&lt;Registration.CleanUp()[pri:0, instance:com.test.MavenPgm.Registration@6e4784bc]">&lt;&lt;CleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>21/12/08 19:45:54</td>   <td>18832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registration.typingDetails()[pri:0, instance:com.test.MavenPgm.Registration@6e4784bc]">typingDetails</td> 
  <td>main@148626113</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>21/12/08 19:45:52</td>   <td>17124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.MouseHovering()[pri:2, instance:com.test.MavenPgm.MultiTest@3e2e18f2]">MouseHovering</td> 
  <td>main@148626113</td>   <td></td> </tr>
</table>
