<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="647b92">  <td>21/12/08 22:02:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Carloan.CarLogin()[pri:0, instance:Framework.Carloan@510f3d34]">CarLogin</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="909f78">  <td>21/12/08 22:03:48</td>   <td>66812</td> <td title="&lt;&lt;HouseLoan.CleanUp()[pri:0, instance:Framework.HouseLoan@7817fd62]">&lt;&lt;CleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>21/12/08 22:03:52</td>   <td>70909</td> <td title="&lt;&lt;Registration.CleanUp()[pri:0, instance:Basic.Selenium.Registration@24aed80c]">&lt;&lt;CleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/12/08 22:02:13</td>   <td>-28492</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiTest.CleanUp()[pri:0, instance:Basic.Selenium.MultiTest@710f4dc7]">&lt;&lt;CleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/12/08 22:01:26</td>   <td>-75702</td> <td>&nbsp;</td><td title="&gt;&gt;MultiTest.Initalization()[pri:0, instance:Basic.Selenium.MultiTest@710f4dc7]">&gt;&gt;Initalization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/12/08 22:02:12</td>   <td>-28983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.MouseHovering()[pri:2, instance:Basic.Selenium.MultiTest@710f4dc7]">MouseHovering</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="a162b8">  <td>21/12/08 22:02:12</td>   <td>-29051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.SelectDropDown()[pri:1, instance:Basic.Selenium.MultiTest@710f4dc7]">SelectDropDown</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="b2f2a2">  <td>21/12/08 22:02:41</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;windowHandling.afterWindow()[pri:0, instance:Basic.Selenium.windowHandling@65e98b1c]">&lt;&lt;afterWindow</td> 
<td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="909f78">  <td>21/12/08 22:01:00</td>   <td>-101750</td> <td>&nbsp;</td><td title="&gt;&gt;HouseLoan.amzonlogin()[pri:0, instance:Framework.HouseLoan@7817fd62]">&gt;&gt;amzonlogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="b2f2a2">  <td>21/12/08 22:02:32</td>   <td>-9617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;windowHandling.beforeWindow()[pri:0, instance:Basic.Selenium.windowHandling@65e98b1c]">&gt;&gt;beforeWindow</td> 
<td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>21/12/08 22:01:43</td>   <td>-58777</td> <td>&nbsp;</td><td title="&gt;&gt;Registration.driverSetup()[pri:0, instance:Basic.Selenium.Registration@24aed80c]">&gt;&gt;driverSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="b2f2a2">  <td>21/12/08 22:01:50</td>   <td>-51857</td> <td>&nbsp;</td><td title="&gt;&gt;windowHandling.driverSetup()[pri:0, instance:Basic.Selenium.windowHandling@65e98b1c]">&gt;&gt;driverSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>21/12/08 22:01:45</td>   <td>-56178</td> <td>&nbsp;</td><td title="&gt;&gt;eCommerce.driverSetup()[pri:0, instance:Basic.Selenium.eCommerce@8297b3a]">&gt;&gt;driverSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>21/12/08 22:01:57</td>   <td>-44563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registration.invokeBrowser()[pri:0, instance:Basic.Selenium.Registration@24aed80c]">invokeBrowser</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>21/12/08 22:03:07</td>   <td>25985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="eCommerce.invokeSite()[pri:0, instance:Basic.Selenium.eCommerce@8297b3a]">invokeSite</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>21/12/08 22:01:12</td>   <td>-89539</td> <td>&nbsp;</td><td title="&gt;&gt;LoanDepartment.loan()[pri:0, instance:Framework.LoanDepartment@1ff4931d]">&gt;&gt;loan</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>21/12/08 22:02:17</td>   <td>-24409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoanDepartment.loanProcessFinished()[pri:0, instance:Framework.LoanDepartment@1ff4931d]">loanProcessFinished</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="909f78">  <td>21/12/08 22:03:07</td>   <td>25197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HouseLoan.mouseHovering()[pri:0, instance:Framework.HouseLoan@7817fd62]">mouseHovering</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>21/12/08 22:02:17</td>   <td>-24405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoanDepartment.registrationProcess()[pri:0, instance:Framework.LoanDepartment@1ff4931d]">registrationProcess</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="909f78">  <td>21/12/08 22:03:07</td>   <td>25924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HouseLoan.searchDropDown()[pri:0, instance:Framework.HouseLoan@7817fd62]">searchDropDown</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>21/12/08 22:02:06</td>   <td>-35776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registration.typingDetails()[pri:0, instance:Basic.Selenium.Registration@24aed80c]">typingDetails</td> 
  <td>main@169663597</td>   <td></td> </tr>
<tr bgcolor="b2f2a2">  <td>21/12/08 22:02:32</td>   <td>-9616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="windowHandling.windowsChanging()[pri:0, instance:Basic.Selenium.windowHandling@65e98b1c]">windowsChanging</td> 
  <td>main@169663597</td>   <td></td> </tr>
</table>
