<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Frame work suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d1ad8e">  <td>21/12/06 21:13:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HouseLoan.houseloanAmount()[pri:0, instance:Framework.HouseLoan@79e2c065]">houseloanAmount</td> 
  <td>main@1864230087</td>   <td></td> </tr>
<tr bgcolor="d1ad8e">  <td>21/12/06 21:13:43</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HouseLoan.houseloanSignout()[pri:0, instance:Framework.HouseLoan@79e2c065]">houseloanSignout</td> 
  <td>main@1864230087</td>   <td></td> </tr>
<tr bgcolor="d1ad8e">  <td>21/12/06 21:13:43</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HouseLoan.houseloanlogin()[pri:0, instance:Framework.HouseLoan@79e2c065]">&gt;&gt;houseloanlogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864230087</td>   <td></td> </tr>
<tr bgcolor="d46ab7">  <td>21/12/06 21:13:14</td>   <td>-28480</td> <td>&nbsp;</td><td title="&gt;&gt;LoanDepartment.loan()[pri:0, instance:Framework.LoanDepartment@6e171cd7]">&gt;&gt;loan</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864230087</td>   <td></td> </tr>
<tr bgcolor="d46ab7">  <td>21/12/06 21:13:28</td>   <td>-14621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoanDepartment.loanProcessFinished()[pri:0, instance:Framework.LoanDepartment@6e171cd7]">loanProcessFinished</td> 
  <td>main@1864230087</td>   <td></td> </tr>
<tr bgcolor="d46ab7">  <td>21/12/06 21:13:28</td>   <td>-14605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoanDepartment.registrationProcess()[pri:0, instance:Framework.LoanDepartment@6e171cd7]">registrationProcess</td> 
  <td>main@1864230087</td>   <td></td> </tr>
</table>
